<div id="lists">
  <ul>
  <%= @todo_lists.inspect %>
  <% @todo_lists.each do |todo_list| %>
    <li><%= link_to "Woo #{todo_list.name}", todo_list_path(todo_list) %></li>
  <% end %>
  </ul>
</div>
<p><%= link_to "New list", new_todo_list_path %></p>

